.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 16px;
}

.card-title {
    margin: 0;
    font-size: 1.5em;
}

.card-description {
    margin: 10px 0;
    font-size: 1em;
    color: #555;
}

.card-button {
    display: inline-block;
    padding: 10px; /* Espaciado interno */
    background-color: #239619; /* Color de fondo de PayPal */
    border-radius: 8px; /* Esquinas redondeadas */
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: white; /* Color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
    cursor: pointer;
    font-size: 18px;
    border-style: none;
}

.card-button:hover {
    background-color: #196b11; /* Color más oscuro en hover */
    transform: scale(1.05); /* Efecto de aumento en hover */
}
