/* Contact.css */

.introC {
    padding: 40px 40px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #f0f0f0; /* Cambia esto si es necesario */
}

.contact-title {
    font-size: 2rem;
    color: #0A1547; /* Mismo color que el fondo del formulario */
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #0A1547;
    padding-bottom: 10px;
    max-width: 600px;
    margin: 0 auto 20px auto; /* Centrar el título */
}

.contact-form {
    background-color: #0A1547; /* Color de fondo del formulario */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.contact-form h2 {
    font-size: 2.0rem;
    color: #ffffff;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contact-form p {
    font-size: 1.0rem;
    line-height: 1.6;
    color: #dcdcdc;
    margin-bottom: 20px;
    text-align: center;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.checkbox-group input {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.checkbox-group label {
    font-size: 0.8rem;
    color: #dcdcdc;
    margin-right: 20px;
    margin-top: 5px;
}

.enabled {
    padding: 10px; /* Espaciado interno */
    background-color: #239619; /* Color de fondo de PayPal */
    border-radius: 8px; /* Esquinas redondeadas */
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: white; /* Color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
    cursor: pointer;
    font-size: 18px;
    border-style: none;
}

.enabled:hover {
    background-color: #196b11; /* Color más oscuro en hover */
    transform: scale(1.05); /* Efecto de aumento en hover */
}

.disabled {
    color: rgb(223, 221, 221);
    background-color: #555555;
    cursor: not-allowed;
}

.aviso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d0d0d0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.aviso h4 {
    font-size: 1.25rem;
    color: #0A1547;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.aviso p {
    font-size: 0.9rem;
    line-height: 1.25;
    color: #333333;
    text-align: justify;
    width: 80%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@media (max-width: 988px) {
    

    .contact-form {
        padding: 30px;
        font-size: 1rem;
    }

    .contact-form h2 {
        font-size: 1.8rem;
    }
    .contact-form p {
        font-size: 0.9rem;
    }

    .checkbox-group {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

    }

    .checkbox-group input {
        width: 20px;
        height: 20px;
    }

    .checkbox-group label {
        font-size: 0.65rem;
    }

    .contact-title {
        font-size: 1.8rem;
        padding-bottom: 5px;
        border-bottom-width: 1px;
    }

    .aviso h4 {
        font-size: 1.1rem;
    }

    .aviso p {
        font-size: 0.7rem;
    }
}
