/* Estilo para el contenedor parallax */
.parallax-container {
    position: relative; /* Asegura que los elementos dentro se posicionen en relación al contenedor */
    overflow: hidden; /* Para evitar cualquier desbordamiento */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 800px;
}

/* Overlay oscuro para hacer la imagen más oscura */
.parallax-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Ajusta el último valor (0.4) para más o menos oscuridad */
    z-index: 1;
    pointer-events: none; /* Permite que los clics pasen a través del overlay */
}

/* Contenido dentro del contenedor parallax */
.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2; /* Asegura que el contenido esté encima del overlay */
}

.parallax-content h1 {
    font-size: 3vw; /* Escala en relación al ancho de la pantalla */
    margin: 0;
}

.parallax-content p {
    font-size: 1.4vw;
    margin: 0;
}

.contactbtn {
    display: inline-block;
    margin-top: 20px; /* Espacio superior */
    padding: 15px; /* Espaciado interno */
    background-color: #239619; /* Color de fondo de PayPal */
    border-radius: 8px; /* Esquinas redondeadas */
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: white; /* Color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
    cursor: pointer;
    font-size: 18px;
    border-style: none;
}

.contactbtn:hover {
    background-color: #196b11; /* Color más oscuro en hover */
    transform: scale(1.05); /* Efecto de aumento en hover */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@media (max-width: 980px) {
    .parallax-container {
        background-attachment: scroll;
        height: 650px; /* Ajusta la altura en móviles */
    }
    .parallax-content h1 {
        font-size: 32px;
        margin-top: 180px;
    }

    .parallax-content p {
        font-size: 18px;
    }
}
