/* Estilo para el contenedor parallax */
.parallax-container {
    position: relative; /* Asegura que los elementos dentro se posicionen en relación al contenedor */
    overflow: hidden; /* Para evitar cualquier desbordamiento */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 800px;
}

/* Contenido dentro del contenedor parallax */
.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.parallax-content h1 {
    font-size: 48px;
    margin: 0;
}

.parallax-content p {
    font-size: 21px;
    margin: 0;
}

.contactbtn {
    display: inline-block;
    padding: 8px 16px; /* Reduce el padding */
    font-size: 14px; /* Reduce el tamaño de fuente */
    color: white;
    background-color: transparent; /* Botón transparente */
    border: 2px solid white; /* Borde blanco */
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición de color */
    margin-top: 20px; /* Espacio superior */
}

.contactbtn:hover {
    background-color: #007BFF; /* Azul en hover */
    color: white; /* Asegura que el texto siga siendo blanco en hover */
    border-color: #007BFF; /* Cambia el borde a azul en hover */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@media (max-width: 980px) {
    .parallax-container {
        height: 650px;
    }
    .parallax-content h1 {
        font-size: 32px;
        margin-top: 180px;
    }

    .parallax-content p {
        font-size: 18px;
    }
}
